---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import FormLayout from "../components/formLayout.astro";
import FormLabel from "../components/FormLabel.astro";
import SelectForm from "../components/selectForm.astro";
// import RadioForm from "../components/RadioForm.astro";
// import TextareaForm from "../components/TextareaForm.astro";
---

<Layout title="Job Upload Page">
  <NavBar />
  <form id="job-upload-form" action="/submit" method="POST">
    <FormLayout formTitle="Upload a Job">
      <FormLabel
        labelTitle="Company Name"
        inputValue=""
        labelFor="company-name"
        labelType="text"
        id="company-name"
        name="companyName"
      />

      <FormLabel
        labelTitle="Company Description"
        inputValue=""
        labelFor="company-description"
        labelType="text"
        id="company-description"
        name="companyDescription"
      />

      <FormLabel
        labelTitle="Company Website"
        inputValue=""
        labelFor="company-website"
        labelType="url"
        id="company-website"
        name="website"
      />

      <FormLabel
        labelTitle="Company Email"
        inputValue=""
        labelFor="company-email"
        labelType="email"
        id="company-email"
        name="companyEmail"
      />

      <FormLabel
        labelTitle="Company Phone Number"
        inputValue=""
        labelFor="phone"
        labelType="tel"
        id="phone"
        name="companyPhoneNumber"
      />

      <FormLabel
        labelTitle="Job Name"
        inputValue=""
        labelFor="job-name"
        labelType="text"
        id="job-name"
        name="jobName"
      />

      <SelectForm
        selectId="job-type"
        selectName="jobType"
        label="Job Type"
        disabledOption="Pick a job type"
        options={[
          "Full-Time",
          "Part-Time",
          "Contract",
          "Freelance",
          "Internship",
        ]}
      />

      <FormLabel
        labelTitle="Minimum Salary"
        inputValue=""
        labelFor="min-salary"
        labelType="number"
        id="min-salary"
        name="minSalary"
        min={30000}
      />

      <FormLabel
        labelTitle="Maximum Salary"
        inputValue=""
        labelFor="max-salary"
        labelType="number"
        id="max-salary"
        name="maxSalary"
        min={40000}
      />

      <FormLabel
        labelTitle="Location (City, State) or (Remote)"
        inputValue=""
        labelFor="location"
        labelType="text"
        id="location"
        name="location"
      />

      <SelectForm
        selectId="experience-level"
        selectName="experienceLevel"
        label="Experience Level"
        disabledOption="Pick an experience level"
        options={["Entry-Level", "Mid-Level", "Senior", "Executive"]}
      />

      <FormLabel
        labelTitle="Qualifications (separate with commas)"
        inputValue=""
        labelFor="qualifications"
        labelType="text"
        id="qualifications"
        name="qualifications"
      />

      <FormLabel
        labelTitle="Skills (separate with commas)"
        inputValue=""
        labelFor="skills"
        labelType="text"
        id="skills"
        name="skills"
      />

      <FormLabel
        labelTitle="Responsibilities (separate with commas)"
        inputValue=""
        labelFor="responsibilities"
        labelType="text"
        id="responsibilities"
        name="responsibilities"
      />

      <FormLabel
        labelTitle="Benefits (separate with commas)"
        inputValue=""
        labelFor="benefits"
        labelType="text"
        id="benefits"
        name="employmentBenefits"
      />

      <FormLabel
        labelTitle="Work Schedule"
        inputValue=""
        labelFor="work-schedule"
        labelType="text"
        id="work-schedule"
        name="workSchedule"
      />

      <FormLabel
        labelTitle="Application Deadline"
        inputValue=""
        labelFor="application-deadline"
        labelType="date"
        id="applicaiton-deadline"
        name="applicationDeadline"
      />

      <FormLabel
        labelTitle="Tags (separate with commas)"
        inputValue=""
        labelFor="tags"
        labelType="text"
        id="tags"
        name="tags"
      />

      <button class="submit-button" type="submit">Submit Job</button>
    </FormLayout>
  </form>
  <Footer />
</Layout>

<!-- Pickup from here -->
<script>
  import baseURL from "../baseURL";
  const form = document.getElementById(
    "job-upload-form"
  ) as HTMLFormElement | null;
  const userId = localStorage.getItem("currentUserId");

  if (form) {
    // const jobId = form.name;
    // console.log("Job ID:", jobId);
    form.addEventListener("submit", (event) => {
      event.preventDefault(); // Prevent actual form submission for testing
      const formData = new FormData(form);
      const jobApplication = Object.fromEntries(formData.entries());
      // userApplication.jobId = jobId;
      if (userId) {
        jobApplication.employerId = userId;
      }
      console.log("User Application:", jobApplication);

      const api = baseURL();
      const postJob = async () => {
        try {
          const response = await api.post(
            "/post-job/TalentLinkDB/pending_jobs",
            jobApplication
          );
          if (response.status === 201) {
            console.log("Job posted successfully!");
            console.log(response.data);
            window.location.href = "/Profile";
          }
        } catch (error) {
          console.error("Error posting job:", error);
        }
      };
      postJob();
    });
  }
</script>
